 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     height: 100vh;
     background: white;
 }

 .form {
     font-size: 45px;
     font-family: sans-serif;
     height: 80px;
     width: 290px;
     padding-top: 5px;
 }

 .main {
     height: 1000px;
     width: 300px;
     height: auto;
     box-shadow: 0px 0px 10px gray;
     margin-top: -5px;
 }

 hr {
     margin-top: -15px;
 }

 .put1 {
     width: 250px;
     height: 40px;
     margin-left: 20px;
     margin-top: 20px;
     border-bottom: 2px solid rgb(0, 0, 0);
     cursor: pointer;
 }

 .put1 input {
     border: none;
     border-bottom: 2px solid black;
     width: 250px;
     height: 30px;
     font-size: 20px;
     outline: none;
     padding-left: 10px;
     margin-top: 10px;
 }

 .put1 label {
     position: absolute;
     border: none;
     font-size: 18px;
     pointer-events: none;
     transition: .5s;
     top: 16px;
 }

 .put1 input[type="password"]::-ms-reveal {
     display: none;
 }

 .buton input {
     height: 40px;
     font-family: sans-serif;
     font-size: 18px;

     cursor: pointer;
     transition: .4s;
 }

 .buton input:hover {
     filter: brightness(120%);
     transform: translateY(-5px)
 }

 .rem {
     font-size: 14px;
 }

 .rem a {
     text-decoration: none;
     color: red;
 }

 .end span {
     font-size: 14px;
 }

 .end a {
     font-size: 14px;
     text-decoration: none;
 }

 .rem a:hover {
     text-decoration: underline;
 }

 .end a:hover {
     text-decoration: underline;
 }